<h1>ログイン</h1>

<body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
</body>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>


<div class = email_form>
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>

<div class = password_form>
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>


  <%= f.submit "Log in" %>
<% end %>
